.container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.projectInfo{
    text-align: left;
}

.iconArea{
    color: #ccc;
    font-size: 1.5rem;
}

.projectInfo h6{
    font-size: 1.2rem;
}
